
.formSelection {
    list-style: none;
    margin:0;
    padding:0;

    li {
        margin: 25px 45px;
        display: block;
        width: 500px;
        height: 125px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);

        a {
            text-decoration: none;
            display:block;
            width: 500px;
            height: 125px;
            
            &:hover {
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }

            img {
                max-width: 500px;
                max-height: 125px;
            }
        }
    }
}

.form {

    img.headerImage {
        width: 100%;
    }
}

.signInMethods {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: block;
        width: 140px;
        height: 160px;
        margin: 20px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        background: white;

        &:hover {
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }

        a {
            width: 140px;
            height: 140px;
            display: block;
            margin: 0;
            text-align: center;
            font-size: 12px;
            text-decoration: none;

            img {
                max-width: 140px;
                max-height: 140px;
            }
        }
    }
}