form {
    .form-group {
        display: block;
        height: 75px;
        margin: 3px 0 20px 0;
        padding: 0 5px;

        &.required label:after {
            content: '*';
            color: red;
        }

        label {
            display: block;
            margin-bottom:2px;
            font-size: 24px;
            
            @media (max-width: 480px) {
                font-size: 20px;
            }
        }

        input[type=text],
        input[type=password],
        input[type=email] {
            font-size: 16px;
            padding: 4px;
            min-width: 440px;
            box-sizing: border-box;
            border: 1px solid #aaa;

            @media (max-width: 480px) {
                min-width: 0;
                width: 100%;
            }
        }

        &.error input,
        &.error select,
        &.error textarea {
            border: 1px solid red;
        }
    }

    div.error {
        color:red;
        min-height: 25px;
    }

    .submit {
        text-align: right;

        button {
            font-size: 24px;
            margin: 20px 0;
        }
    }
}

button {
    cursor: pointer;
    margin: 10px 0 0 0;
    font-size: 16px;
    background: #d2ff52;
    background: #236dc1;
    border: 2px solid #236dc1;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color:white;

    &:active {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }

    &:hover {
        background: #3175c4;
        border: 2px solid #3175c4;
    }

    &:focus {
        outline: none;
        border: 2px solid #0d2847;
    }
}


input[type=checkbox].css-checkbox {
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;

    & + label.css-label {
        padding-left:35px;
        height:30px; 
        display:inline-block;
        line-height:30px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:30px;
        vertical-align:middle;
        cursor:pointer;
    }

    &:checked + label.css-label {
        background-position: 0 -30px;
    }
}

label.css-label {
	background-image: url('../content/checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form {

    img.headerImage {
        width: 100%;
    }
}

.signInMethods {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: block;
        width: 140px;
        height: 160px;
        margin: 20px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        background: white;

        &:hover {
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }

        a {
            width: 140px;
            height: 140px;
            display: block;
            margin: 0;
            text-align: center;
            font-size: 12px;
            text-decoration: none;

            img {
                max-width: 140px;
                max-height: 140px;
            }
        }
    }
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}