input {
    cursor: pointer;
}

form {
    .form-group {
        display: block;
        height: 75px;
        margin: 3px 0 20px 0;
        padding: 0 5px;

        &.required label:after {
            content: '*';
            color: red;
        }

        label {
            display: block;
            margin-bottom:2px;
            font-size: 24px;
            
            @media (max-width: 480px) {
                font-size: 20px;
            }
        }

        input[type=text],
        input[type=password],
        input[type=email] {
            font-size: 16px;
            padding: 4px;
            min-width: 440px;
            box-sizing: border-box;
            border: 1px solid #aaa;

            @media (max-width: 480px) {
                min-width: 0;
                width: 100%;
            }
        }

        &.error input,
        &.error select,
        &.error textarea {
            border: 1px solid red;
        }
    }

    .submit {
        text-align: right;

        button {
            font-size: 24px;
            margin: 20px 0;
        }
    }
}

div.error {
    color:red;
    overflow: visible;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    margin: 10px 0 0 0;
    font-size: 16px;
    background: #d2ff52;
    background: #236dc1;
    border: 2px solid #236dc1;
    padding: 5px 15px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    color:white;

    &:active {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }

    &:hover {
        background: #3175c4;
        border: 2px solid #3175c4;
    }

    &:focus {
        outline: none;
        border: 2px solid #0d2847;
    }
}


input[type=checkbox].css-checkbox {
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;

    & + label.css-label {
        padding-left:35px;
        height:30px; 
        display:inline-block;
        line-height:30px;
        background-repeat:no-repeat;
        background-position: 0 0;
        font-size:30px;
        vertical-align:middle;
        cursor:pointer;
    }

    &:checked + label.css-label {
        background-position: 0 -30px;
    }
}

label.css-label {
	background-image: url('../content/checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form {

    img.headerImage {
        width: 100%;
    }
}

.signInMethods {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: block;
        width: 140px;
        height: 160px;
        margin: 20px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        background: white;

        &:hover {
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }

        a {
            width: 140px;
            height: 140px;
            display: block;
            margin: 0;
            text-align: center;
            font-size: 12px;
            text-decoration: none;

            img {
                max-width: 140px;
                max-height: 140px;
            }
        }
    }
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
}

.registration-success {
    text-align: center;
    padding: 50px 0;

    img {
        width: 50px;
        height: 50px;
        margin: 15px;
    }

    h1 {
        text-align: center;
    }

    a {
        display: block;
        margin: 10px 0;
    }
}

.children-list {
    margin-bottom:20px;
    padding-bottom:10px;

    @media (max-width:  850px) {
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
    }

    .child-container {
        padding-bottom: 20px;

        
        @media (max-width:  850px) {
            &:first-child {
                border-top: none;
            }

            &:hover {
                background:rgba(255,255,255,0.8);
            }
            border-top: 1px solid #666;
        }

        .child {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-wrap: wrap;

            .form-group {
                margin-bottom: 0;
            }

            & > div {
                height: 75px;
            }

            div {    
                box-sizing: border-box;
            }
            
            & > div input[type=text] {
                min-width: initial;
                width: 100%;       
                height: 32px;
            }

            .child-name {
                width: 300px;
            }

            .child-age {
                width: 120px;
            }

            .child-slots {
                width: 270px;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                label {
                    padding-left: 100px;
                    display: flex;
                    font-size: 0.8em;

                    span.child-day {
                        display: block;
                        width: 40px;
                        text-align: center;
                    }
                }

                .child-slots-container {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    & > div {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;

                        .child-slot {
                            width: 100px;
                            font-size: 0.8em;
                            line-height: 16px;
                        }

                        .child-day {
                            width: 40px;
                            height: 16px;

                            input[type=checkbox] {
                                width: 12px;
                                height: 12px;
                                display: block;
                                margin: 2px auto;
                            }
                        }

                    }
                }
            }

            .child-controls {
                line-height: 75px;
            }
        }
    }
}

table.childcare-table {
    td,th {
        border:1px solid black;
        margin:0;
        border-collapse: collapse;
        text-align: left;
        padding: 4px;
    }
}