@import 'forms.scss';


body {
    background: #abc;
    color: #222;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

a {
    color: black;
    text-decoration: underline;

    &:visited,&:active {
        color: black;
        text-decoration: underline;
    }

    &:hover {
        color: #666;
    }
}



nav {
    background: #282a2b;
    height: 90px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    color: #ccc;

    a {
        color: #eee;
        &:visited, &:hover {
            color: white;
        }
    }

    .navlogo {
        height: 90px;
        display: flex;
        text-decoration: none;
        font-size: 30px;

        &:hover,&:visited {
            color: white;
            text-decoration: none;
        }

        img {
            width: 90px;
            height: 90px;
        }

        span {
            padding-left: 10px;
            height: 90px;
            line-height: 90px;
        }
        
    }

        
    @media (max-width: 480px) {
        height: 80px;

        .navlogo {
            height: 80px;
            font-size: 24px;

            img {
                width: 80px;
                height: 80px;
            }

            span {
                height: 80px;
                line-height: 80px;
            }
        }
    }

    @media (max-width: 400px) {
        height: 60px;

        .navlogo {
            height: 60px;
            font-size: 16px;

            img {
                width: 60px;
                height: 60px;
            }

            span {
                height: 60px;
                line-height: 60px;
            }
        }
    }
    
    .profile {
        height: 90px;
        font-size: 12px;
        
        & > div {
            height: 90px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;

            span {
                padding: 10px;
            }

            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
        }
    }

}

.aboveFooter {
    height: 60px;
    background: #0d2847;
    border-top: 12px solid #e9eaee;
}

.footer {
    height: 100px;
    background: #282a2b;
    border-top: 1px solid #4b4c4d;

    div {
        line-height: 100px;
        color: #ccc;
        font-size:12px;
        padding: 0 10px;
        overflow: hidden;

        a {
            color: #ccc;
            text-decoration: none;
            margin: 0 10px;
        }

        .copyright {
            float: left;
        }

        .terms {
            float: right;
        }
    }
}

#mainContent {
    background: #eee;
    max-width: 700px;
    min-height: 900px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}





#notfound {
    text-align: center;
    
    h1 {
        color: #aaa;
        font-size: 6em;
    }

    p {
        font-style: italic;
        font-size: 16px;
        margin-bottom: 60px;
    }

    a {
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}