<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACBC Africa Registration</title>

    <script>
        //ghetto promise
        (function () {
            var recaptchaReady = [];
            window.logRecaptchaReady = function (callback) {
                recaptchaReady.push(callback);
            }
            window.recaptchaLoadCallback = function () {
                for (var i = 0; i < recaptchaReady.length; ++i) {
                    recaptchaReady[i].apply();
                }

                window.logRecaptchaReady = function (callback) {
                    callback();
                }
            }
        })();
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&amp;render=explicit" async defer></script>

</head>

<body>

    <div id="react-app"></div>

</body>

</html>