<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACBC Africa Registration</title>

    <script>
        //ghetto promise
        (function () {
            var recaptchaReady = [];
            window.logRecaptchaReady = function (callback) {
                recaptchaReady.push(callback);
            }
            window.recaptchaLoadCallback = function () {
                for (var i = 0; i < recaptchaReady.length; ++i) {
                    recaptchaReady[i].apply();
                }

                window.logRecaptchaReady = function (callback) {
                    callback();
                }
            }
        })();
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoadCallback&amp;render=explicit" async defer></script>

</head>

<body>
        <!--polyfills-->
        <script>
            function load(url) {
                var s = document.createElement('script');
                s.src = url;
                document.body.appendChild(s);
            }
            if (typeof Promise !== 'function') {
                load('https://cdn.jsdelivr.net/npm/promise-polyfill@7/dist/polyfill.min.js');
            }
            if(typeof fetch !== 'function') {
                load('https://cdn.jsdelivr.net/gh/github/fetch@1.1/fetch.js');
            }
            if(typeof Array.prototype.includes !== 'function') {
                load('/polyfills.js');
            }
        </script>

    <div id="react-app"></div>


    <script async src="https://www.googletagmanager.com/gtag/js?id=<%=htmlWebpackPlugin.options.gaTrackingId%>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '<%=htmlWebpackPlugin.options.gaTrackingId%>');
    </script>
</body>

</html>